.designer-page {
  margin: 50px auto; }
  @media screen and (max-width: 767px) {
    .designer-page {
      margin: 20px auto; } }
  .designer-page__content {
    padding-bottom: 50px; }
    .designer-page__content .designer-page__title {
      font-size: 35px;
      font-weight: 600; }
      @media screen and (max-width: 767px) {
        .designer-page__content .designer-page__title {
          font-size: 25px;
          margin: 20px 0; } }
    .designer-page__content .designer-page__text {
      margin-top: 28px;
      font-size: 14px;
      line-height: 1.7;
      text-align: justify; }
      @media screen and (max-width: 767px) {
        .designer-page__content .designer-page__text {
          margin-top: 20px; } }
    .designer-page__content .designer-page__wrapper {
      margin-top: 32px; }
      .designer-page__content .designer-page__wrapper .designer-page__websites {
        display: inline-block; }
        .designer-page__content .designer-page__wrapper .designer-page__websites .websites__item {
          display: block;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 500;
          color: #2596c3; }
  .designer-page .related-items {
    margin-top: 20px; }
    @media screen and (max-width: 991px) {
      .designer-page .related-items {
        margin-top: 0; } }
