.login-template__form {
  width: 350px;
  margin: 200px auto; }
  .login-template__form label {
    display: block; }
  .login-template__form input {
    width: 100%;
    margin-bottom: 20px; }
  .login-template__form .login-button {
    color: #fff;
    background-color: #999;
    border-color: #999;
    padding: 6px 24px;
    cursor: pointer; }
  .login-template__form .create-account {
    margin-top: 20px; }
    .login-template__form .create-account span {
      margin-right: 10px; }
    .login-template__form .create-account .customer-register-link {
      color: #000; }
