.register-template__form {
  width: 350px;
  margin: 150px auto; }
  .register-template__form.sending-data {
    opacity: 0.5;
    pointer-events: none; }
  .register-template__form label {
    display: block; }
  .register-template__form input {
    width: 100%;
    margin-bottom: 20px; }
  .register-template__form .error-message {
    color: red;
    margin: 20px 0 0; }
  .register-template__form .success-message {
    color: green;
    margin: 20px 0 0; }
  .register-template__form .register-button {
    color: #fff;
    background-color: #999;
    border-color: #999;
    padding: 6px 24px;
    cursor: pointer; }
  .register-template__form .login-account {
    margin-top: 15px; }
    .register-template__form .login-account span {
      margin-right: 10px; }
    .register-template__form .login-account .customer-login-link {
      color: #000; }
