.product-template {
  padding:50px 0;
  overflow: hidden;
  .featured-image {
    margin:auto;
  }
  .product-images {
    list-style: none;
    padding:0;
    text-align:center;
    .product-images__item {
      display:inline-block;
      border:1px solid #f6f6f6;
      width:70px;
      height:70px;
      margin-right:10px;
      padding: 3px;
      &:last-child {
        margin-right:0
      }
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
      img {
        margin: auto;
      }
    }
  }
  .product__compare-price {
    text-decoration: line-through;
    margin-left :20px;
  }
  .product__variants {
    display:block;
    margin-top:15px;
  }
  .product__quantity {
    display: inline-block;
    margin-top:15px;
    input {
      margin-left:20px;
      padding-left:20px;
      width:100px;
    }
  }
  .product__buy {
    margin: 20px 0 0 20px;
  }
}