@media screen and (max-width: 749px) {
  .header-section {
    padding: 0; } }

.header-section .site-header {
  position: relative;
  z-index: 6;
  background: #fff; }
  @media screen and (max-width: 749px) {
    .header-section .site-header {
      padding: 0 20px;
      border-bottom: 2px solid #e8e9eb; } }
  .header-section .site-header .logo {
    max-height: 50px;
    margin: 16px 0;
    vertical-align: middle; }
    @media screen and (max-width: 749px) {
      .header-section .site-header .logo {
        margin: 10px 0;
        max-height: 40px; } }
  .header-section .site-header .shop-title {
    margin: 0; }
  .header-section .site-header .site-nav {
    padding: 0;
    margin: 0;
    display: inline-block; }
    .header-section .site-header .site-nav .nav-item {
      list-style: none;
      display: inline-block; }
      .header-section .site-header .site-nav .nav-item .nav-item__dropdown {
        display: none;
        position: absolute;
        padding: 10px 15px;
        border: 1px solid #e8e9eb;
        background: #fff; }
        .header-section .site-header .site-nav .nav-item .nav-item__dropdown .dropdown__item {
          list-style: none; }
          .header-section .site-header .site-nav .nav-item .nav-item__dropdown .dropdown__item a {
            padding: 0; }
      .header-section .site-header .site-nav .nav-item a {
        margin-right: 1.5em;
        color: #535253;
        font: 500 16px/1.5 "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif; }
        .header-section .site-header .site-nav .nav-item a:hover {
          opacity: 0.6; }
  .header-section .site-header .site-header__icons {
    position: relative;
    white-space: nowrap;
    text-align: right; }
    .header-section .site-header .site-header__icons .site-header__icons-wrapper {
      display: inline-block; }
      .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__cart {
        cursor: pointer; }
        @media screen and (min-width: 750px) {
          .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__cart {
            width: 28px;
            padding: 8px 0;
            color: #3d4246;
            margin-left: 27px; } }
        @media screen and (max-width: 749px) {
          .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__cart {
            display: inline-block;
            vertical-align: middle;
            padding: 18px 8px;
            margin: 0;
            font-size: 1em;
            color: #3d4246; } }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__cart .icon-cart {
          margin-right: 3px;
          height: 26px;
          overflow: hidden;
          display: inline-block;
          width: 27px;
          color: #3d4246;
          vertical-align: middle;
          fill: currentColor; }
          .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__cart .icon-cart:hover {
            opacity: 0.6; }
      .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu {
        vertical-align: middle;
        padding: 18px 0 18px 8px;
        font-size: 1em;
        background-color: transparent;
        display: none;
        border: 0;
        cursor: pointer;
        outline: none; }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu:hover {
          opacity: 0.6; }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu .icon {
          height: 30px;
          vertical-align: middle;
          overflow: hidden;
          display: inline-block;
          width: 20px;
          color: #3d4246;
          fill: currentColor; }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu .icon-close {
          display: none; }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu.open .icon-close {
          display: block; }
        .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu.open .icon-hamburger {
          display: none; }
        @media screen and (max-width: 749px) {
          .header-section .site-header .site-header__icons .site-header__icons-wrapper .site-header__mobile-menu {
            display: inline-block; } }

.header-section .mobile-nav-wrapper {
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  position: absolute;
  background-color: #fff;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  overflow: hidden;
  width: 100%;
  z-index: 5; }
  .header-section .mobile-nav-wrapper.open {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 2px -2px grey; }
  .header-section .mobile-nav-wrapper .mobile-nav {
    padding: 0;
    margin: 0; }
    .header-section .mobile-nav-wrapper .mobile-nav .mobile-nav__item {
      list-style: none;
      border-top: 1px solid #e8e9eb; }
      .header-section .mobile-nav-wrapper .mobile-nav .mobile-nav__item:first-child {
        border-top: none; }
      .header-section .mobile-nav-wrapper .mobile-nav .mobile-nav__item a {
        display: block;
        width: 100%;
        padding: 15px 20px;
        color: #3d4246;
        font: 500 16px/1.5 "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif; }
