.site-footer {
  background: #efefef; }
  .site-footer .site-footer__support-bar {
    padding: 3.625em 30px; }
    @media screen and (max-width: 749px) {
      .site-footer .site-footer__support-bar {
        padding: 3em 20px; } }
    @media screen and (max-width: 749px) {
      .site-footer .site-footer__support-bar .support-bar__subscribe {
        text-align: center;
        margin-bottom: 40px; } }
    .site-footer .site-footer__support-bar .support-bar__subscribe .subscribe__title {
      font-size: 1.25em;
      color: #535253;
      font-weight: 600; }
    .site-footer .site-footer__support-bar .support-bar__subscribe .email-submit-form button[type="submit"] {
      float: right;
      color: #fff;
      background: #40ba94;
      border-color: #3bab88;
      transition: all 300ms ease;
      outline: none;
      padding: 0 1em;
      font-size: 1em;
      border-radius: 2px;
      cursor: pointer;
      border: 0;
      height: 42px; }
      .site-footer .site-footer__support-bar .support-bar__subscribe .email-submit-form button[type="submit"]:hover {
        background: #3aa785; }
    .site-footer .site-footer__support-bar .support-bar__subscribe .email-submit-form .field {
      overflow: hidden;
      padding-right: 0.625em;
      margin: 1em auto; }
      .site-footer .site-footer__support-bar .support-bar__subscribe .email-submit-form .field input[type="email"] {
        height: 40px;
        display: block;
        padding: 0 1em;
        border: solid 1px #e0e0e0;
        background: #fff;
        font-size: 0.875em;
        border-radius: 2px;
        width: calc(100% - 2em);
        font-weight: 600; }
        .site-footer .site-footer__support-bar .support-bar__subscribe .email-submit-form .field input[type="email"]:focus {
          border-color: #49c09b; }
    .site-footer .site-footer__support-bar .support-bar__submit {
      text-align: right; }
      @media screen and (max-width: 991px) {
        .site-footer .site-footer__support-bar .support-bar__submit {
          text-align: center; } }
      .site-footer .site-footer__support-bar .support-bar__submit a {
        display: block; }
        .site-footer .site-footer__support-bar .support-bar__submit a img {
          width: 75px;
          display: inline-block;
          vertical-align: middle; }
          @media screen and (max-width: 991px) {
            .site-footer .site-footer__support-bar .support-bar__submit a img {
              display: block;
              margin: 0 auto 10px; } }
        .site-footer .site-footer__support-bar .support-bar__submit a .submit__title {
          display: inline-block;
          margin: 0 0 0 30px;
          font-size: 1.25em;
          color: #535253;
          font-weight: 600; }
          @media screen and (max-width: 991px) {
            .site-footer .site-footer__support-bar .support-bar__submit a .submit__title {
              margin: 0; } }
