.search-results {
  margin:50px auto;
  .search-results__title {
    text-align:center;
  }
  .search-item {
    border-bottom:1px solid #f6f6f6;
    margin-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
}