/* CART
 * ============================== */
.Cart {
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.Cart--open {
  transform: translateX(0);
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
  .add-info {
    font-size: 13px;
    text-align: center;
    margin: 10px 0 0;
  }
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4E5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

.error {
  display: block;
  font-size: 15px;
  padding: 10px;
  position: relative;
  min-height: 2.64286em;
  background: #fbefee;
  color: #c23628;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body,
input,
textarea,
button,
select {
  font-size: 16px;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #3d4246;
  line-height: 1.5;
  outline:none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 17.5px;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
a {
  text-decoration: none;
  color:inherit;
}

ul {
  list-style: none;
  padding:0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//Products Grid
.products-grid {
  .products-filters {
    text-align: center;
    margin: 25px 0 55px;
    .types-and-vendors-filter {
      display: inline-block;
      li {
        display:inline-block;
        margin: 0 16px 15px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          opacity:0.6;
        }
        &:last-child {
          margin-right:0;
        }
        &.active {
          border-bottom: 2px solid #535253;
        }
      }
    }
    .collections-filter {
      display: inline-block;
      min-width:263px;
      padding: 5px 40px 5px 15px;
      margin-left: 72px;
      font-weight: 500;
      cursor: pointer;
      -webkit-appearance: none;
      background:url('./components/home/assets/arrow-down.svg')no-repeat right;
      background-size: 20px;
      background-position-x: calc(100% - 15px);
      @media screen and (max-width:991px){
        margin:0 auto;
        display:block;
      }
    }
  }
  .product {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    img {
      width:100%;
      &:hover {
        opacity: 0.9;
      }
    }
    .product__title {
      font-size: 1.25em;
      margin: 1rem 0 0.4rem;
      color:#535253;
      font-weight: 600;
    }
    .product__designer {
      color:#9e9e9e;
      font-size: 0.75em;
      padding-top: 0.375em;
      font-weight: 300;
      margin: 0;
    }
    .product__collection {
      font-size: 0.9375em;
      color: #40ba94;
      margin: 0.725em 0;
      font-weight: 300;
      text-transform: capitalize;
    }
    .product__price {
      display: inline-block;
      font-size: 1.625em;
      margin-bottom: 0.4rem;
      color:#535253;
    }
  }
}

//Global grid styles
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
  .grid__item {
    float: left;
    padding-left: 30px;
    width: 100%;
    @media screen and (max-width: 450px){
      width:100% !important;
    }
  }
  .medium-up--one-quarter{
    &:nth-child(4n+1) {
      clear: both;
    }
  }
}
.grid--view-items {
  overflow: auto;
}
.grid--table {
  display: table;
  table-layout: fixed;
  width: 100%;
  .grid__item {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}
.grid--no-gutters {
  margin-left: 0;
  .grid__item {
    padding-left: 0;
  }
}
.page-width {
  max-width:1200px;
  padding:0 25px;
  margin: 0 auto;
  @media screen and (max-width: 749px) {
    padding:0 20px;
  }
}

//Animated loading

.ipl-progress-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  z-index: 9999;
  &.available {
    opacity: 0;
    transition: opacity 400ms ease-out;
  }
  .ipl-progress-indicator-head {
    background-color: #c6dafc;
    height: 4px;
    overflow: hidden;
    position: relative;
    .first-indicator {
      background-color: #056D8B;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-animation: first-indicator 1000ms linear infinite;
      -moz-animation: first-indicator 1000ms linear infinite;
      animation: first-indicator 1000ms linear infinite;
    }
  }
  .insp-logo-frame {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-animation: fadein 436ms;
    -moz-animation: fadein 436ms;
    animation: fadein 436ms;
    height: 98%;
    img {
      width: 66px;
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes first-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  25% {
    transform: translate(0%) scaleX(0.5);
  }
  50% {
    transform: translate(25%) scaleX(0.75);
  }
  75% {
    transform: translate(100%) scaleX(0);
  }
  100% {
    transform: translate(100%) scaleX(0);
  }
}
@keyframes second-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  60% {
    transform: translate(0%) scaleX(0);
  }
  80% {
    transform: translate(0%) scaleX(0.6);
  }
  100% {
    transform: translate(100%) scaleX(0.1);
  }
}

@media only screen and (min-width: 1201px) {
  .large-up--seven-twelfths {
    width: 58.33333% !important;
  }
  .large-up--five-twelfths {
    width: 41.66667% !important;
  }
}
@media only screen and (min-width: 750px){
  .medium-up--one-quarter {
    width: 25% !important;
  }
  .medium-up--one-half {
    width: 50% !important;
  }
  .medium-up--hide {
    display:none!important;
  }
}
@media only screen and (max-width: 749px) {
  .small--hide {
    display:none!important;
  }
  .small--one-half {
    width: 50% !important;
  }
  .small--full-width {
    display:block !important;
  }
}