*, :after, :before {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body,
input,
textarea,
button,
select {
  font-size: 16px;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #535253;
  line-height: 1.5;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 17.5px;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word; }

img {
  max-width: 100%;
  display: block; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0; }

* {
  -webkit-tap-highlight-color: transparent; }

.related-items {
  margin-top: 50px; }
  @media screen and (max-width: 991px) {
    .related-items {
      margin-top: 0; } }
  .related-items .related-items__title {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px; }
  .related-items .related-items__content {
    margin-bottom: 60px; }
    @media screen and (max-width: 991px) {
      .related-items .related-items__content {
        margin-bottom: 0; } }
    .related-items .related-items__content .related-item {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .related-items .related-items__content .related-item {
          margin-bottom: 30px;
          width: 50%; } }
      .related-items .related-items__content .related-item__image {
        max-height: 170px;
        margin: 0 auto 25px; }
        @media screen and (max-width: 767px) {
          .related-items .related-items__content .related-item__image {
            max-height: 270px; } }
      .related-items .related-items__content .related-item__title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 5px; }
      .related-items .related-items__content .related-item__group {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 10px; }
      .related-items .related-items__content .related-item__price-wrapper .related-item__collection {
        color: #40BA94;
        font-size: 15px;
        margin-right: 60px;
        vertical-align: middle; }
        @media screen and (max-width: 991px) {
          .related-items .related-items__content .related-item__price-wrapper .related-item__collection {
            margin-right: 15px; } }
      .related-items .related-items__content .related-item__price-wrapper .related-item__price {
        font-size: 26px;
        vertical-align: middle; }

.share-buttons {
  float: right; }
  @media screen and (max-width: 767px) {
    .share-buttons {
      float: none;
      margin-top: 25px; } }
  .share-buttons .share-button {
    width: 1.25em;
    height: 1.25em;
    background: url("./components/product/assets/sharing_icons.svg");
    background-size: 80px;
    margin-right: 20px;
    display: inline-block; }
    .share-buttons .share-button:last-child {
      margin-right: 0; }
    .share-buttons .share-button span {
      display: none; }
    .share-buttons .share-button.twitter {
      background-position: 0 0; }
    .share-buttons .share-button.instagram {
      background: url("./assets/instagram.svg");
      background-size: 20px; }
    .share-buttons .share-button.dribbble {
      background: url("./assets/dribbble.svg");
      background-size: 20px; }
    .share-buttons .share-button.facebook {
      background-position: -20px 0; }
    .share-buttons .share-button.pinterest {
      background-position: 20px 0; }
    .share-buttons .share-button.fancy {
      background: url("./components/product/assets/fancy-icon.svg"); }

.products-grid .products-filters {
  text-align: center;
  margin: 25px 0 55px; }
  .products-grid .products-filters .types-and-vendors-filter {
    display: inline-block; }
    @media screen and (max-width: 991px) {
      .products-grid .products-filters .types-and-vendors-filter {
        display: block; } }
    .products-grid .products-filters .types-and-vendors-filter li {
      display: inline-block;
      margin: 0 16px 15px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer; }
      @media screen and (max-width: 767px) {
        .products-grid .products-filters .types-and-vendors-filter li {
          margin: 0 8px 15px; } }
      .products-grid .products-filters .types-and-vendors-filter li:hover {
        opacity: 0.6; }
      .products-grid .products-filters .types-and-vendors-filter li:last-child {
        margin-right: 0; }
        @media screen and (max-width: 991px) {
          .products-grid .products-filters .types-and-vendors-filter li:last-child {
            margin-right: 16px; } }
      .products-grid .products-filters .types-and-vendors-filter li.active {
        border-bottom: 2px solid #535253; }
  .products-grid .products-filters .collection-title {
    display: inline-block;
    background: #40BA94;
    margin-left: 70px;
    color: #fff;
    font-size: 16px;
    width: 260px;
    padding: 5px 15px;
    text-align: left;
    border-radius: 5px; }
    @media screen and (max-width: 991px) {
      .products-grid .products-filters .collection-title {
        margin-left: 0; } }
    .products-grid .products-filters .collection-title .icon-close {
      float: right;
      width: 15px;
      fill: #fff;
      margin-top: 2px;
      cursor: pointer; }
  .products-grid .products-filters .collections-filter {
    display: inline-block;
    min-width: 263px;
    padding: 5px 40px 5px 15px;
    margin-left: 72px;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    background: url("./components/home/assets/arrow-down.svg") no-repeat right;
    background-size: 20px;
    background-position-x: calc(100% - 15px); }
    @media screen and (max-width: 991px) {
      .products-grid .products-filters .collections-filter {
        margin: 0 auto;
        display: block; } }

.products-grid .no-results-title {
  text-align: center;
  margin-bottom: 300px; }

.products-grid .product {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden; }
  .products-grid .product img {
    width: 100%; }
    .products-grid .product img:hover {
      opacity: 0.9; }
  .products-grid .product .product__title {
    font-size: 1.25em;
    margin: 1rem 0 0.4rem;
    color: #535253;
    font-weight: 600; }
  .products-grid .product .product__designer {
    color: #9e9e9e;
    font-size: 0.75em;
    padding-top: 0.375em;
    font-weight: 300;
    margin: 0; }
  .products-grid .product .product__collection {
    font-size: 0.9375em;
    color: #40ba94;
    margin: 0.725em 0;
    font-weight: 300;
    text-transform: capitalize; }
  .products-grid .product .product__price {
    display: inline-block;
    font-size: 1.625em;
    margin-bottom: 0.4rem;
    color: #535253; }

.hero-section .hero-section__image {
  height: 300px;
  position: relative;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-section .hero-section__image .hero-section__inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 55px;
    color: #fff;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .hero-section .hero-section__image .hero-section__inner {
        padding: 20px 15px; } }
    .hero-section .hero-section__image .hero-section__inner .inner__title {
      font-size: 2.625em;
      font-weight: 600;
      margin-bottom: 8px;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 767px) {
        .hero-section .hero-section__image .hero-section__inner .inner__title {
          font-size: 2em; } }
    .hero-section .hero-section__image .hero-section__inner .inner__subtitle {
      margin: 0 auto;
      max-width: 75%;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      font-size: 1.5em; }
      @media screen and (max-width: 767px) {
        .hero-section .hero-section__image .hero-section__inner .inner__subtitle {
          font-size: 1.25em; } }

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  overflow: hidden; }
  .grid .grid__item {
    float: left;
    padding-left: 30px; }
    @media screen and (max-width: 450px) {
      .grid .grid__item {
        width: 100% !important; } }
  .grid .medium-up--one-quarter:nth-child(4n+1) {
    clear: both; }

.grid--view-items {
  overflow: auto; }

.grid--table {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .grid--table .grid__item {
    float: none;
    display: table-cell;
    vertical-align: middle; }

.grid--no-gutters {
  margin-left: 0; }
  .grid--no-gutters .grid__item {
    padding-left: 0; }

.page-width {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto; }
  @media screen and (max-width: 749px) {
    .page-width {
      padding: 0 20px; } }

.ipl-progress-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  z-index: 9999; }
  .ipl-progress-indicator.available {
    opacity: 0;
    transition: opacity 400ms ease-out; }
  .ipl-progress-indicator .ipl-progress-indicator-head {
    background-color: #c6dafc;
    height: 4px;
    overflow: hidden;
    position: relative; }
    .ipl-progress-indicator .ipl-progress-indicator-head .first-indicator {
      background-color: #056D8B;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-animation: first-indicator 1000ms linear infinite;
      -moz-animation: first-indicator 1000ms linear infinite;
      animation: first-indicator 1000ms linear infinite; }
  .ipl-progress-indicator .insp-logo-frame {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-animation: fadein 436ms;
    -moz-animation: fadein 436ms;
    animation: fadein 436ms;
    height: 98%; }
    .ipl-progress-indicator .insp-logo-frame img {
      width: 66px;
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes first-indicator {
  0% {
    transform: translate(0%) scaleX(0); }
  25% {
    transform: translate(0%) scaleX(0.5); }
  50% {
    transform: translate(25%) scaleX(0.75); }
  75% {
    transform: translate(100%) scaleX(0); }
  100% {
    transform: translate(100%) scaleX(0); } }

@keyframes second-indicator {
  0% {
    transform: translate(0%) scaleX(0); }
  60% {
    transform: translate(0%) scaleX(0); }
  80% {
    transform: translate(0%) scaleX(0.6); }
  100% {
    transform: translate(100%) scaleX(0.1); } }

@media only screen and (min-width: 1201px) {
  .large-up--seven-twelfths {
    width: 58.33333%; }
  .large-up--five-twelfths {
    width: 41.66667%; } }

@media only screen and (min-width: 750px) {
  .medium-up--one-quarter {
    width: 25%; }
  .medium-up--one-half {
    width: 50%; }
  .medium-up--hide {
    display: none !important; }
  .medium-up--seven-twelfths {
    width: 58.33333%; }
  .medium-up--five-twelfths {
    width: 41.66667%; } }

@media only screen and (max-width: 749px) {
  .small--hide {
    display: none !important; }
  .small--one-half {
    width: 50%; }
  .small--full-width {
    display: block !important; } }
